body {
    background: #feffef;
}

.main-container {
    text-align: center;
}

.avatar {
    height: 15vh;
    max-width: 50vw;
    width: auto;
}

.mid-image {
    height: 30vh;
    width: auto;
    max-width: 40vw;
}

.top-image-wrapper {
}

.title {
    font-family: "Segoe UI Light", monospace;
}

.sub-title {
    font-family: "Segoe UI Light", monospace;
}

.text-container {
    margin-left: 25%;
    max-width: 50%;
    font-family: "Segoe UI", monospace;
}

.form-container {
    text-align: center;
    font-family: "Segoe UI", monospace;
}

table {
    margin: 0 auto;
    border: 1px solid black;
    width: 50%;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4f4343;
    color: white;
}

tr:nth-child(odd) {
    background-color: #f2f2f2
}